/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

# ignore generated cljs files
resources/public/cljs-out/
resources/public/js/
resources/public/css/fontawesome-free-5.1.1-web/
resources/public/css/line-awesome/
resources/public/css/line-awesome.zip
